<div class="clearfix" >
  <div class="row">
    <div class="col-sm-12">
      <button ng-class="{'btn-success ': true, 'btn-success': userForm.$valid}" class="btn" ng-click="updateUser(user)">Gem</button>
    </div>
  </div>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>ID</th>
        <th>Permission</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="99">
          <div class="lead text-center">Tilmeldte<div>
        </td>
      </tr>
      <tr ng-repeat="permission in permissions | filter:in_user_permissions | orderBy: 'nyhedsbrev_navn'">
        <td class="col-sm-1">{{permission.nyhedsbrev_id}}</td>
        <td class="col-sm-9">{{permission.nyhedsbrev_navn}}</td>
        <td class="col-sm-1">
          <abbr title="Skjult"><span class="glyphicon glyphicon-eye-close" aria-hidden="true" ng-if="permission.hidden"></span></abbr>
          <abbr title="Inaktivt"><span class="glyphicon glyphicon-warning-sign" aria-hidden="true" ng-if="!permission.enabled"></span></abbr>
        </td>
        <td class="col-sm-1">
          <input
          checklist-model="$parent.user.permissions"
          checklist-value="permission.nyhedsbrev_id"
          type="checkbox"
          ng-disabled="!permission.enabled"/>
        </td>
      </tr>
      <tr>
        <td colspan="99">
          <div class="lead text-center">Ikke tilmeldte</div>
        </td>
      </tr>
      <tr ng-repeat="permission in permissions | filter:not_in_user_permissions | orderBy: 'nyhedsbrev_navn'">
        <td class="col-sm-1">{{permission.nyhedsbrev_id}}</td>
        <td class="col-sm-9">{{permission.nyhedsbrev_navn}}</td>
        <td class="col-sm-1">
          <abbr title="Skjult"><span class="glyphicon glyphicon-eye-close" aria-hidden="true" ng-if="permission.hidden"></span></abbr>
          <abbr title="Inaktivt"><span class="glyphicon glyphicon-warning-sign" aria-hidden="true" ng-if="!permission.enabled"></span></abbr>
        </td>
        <td class="col-sm-1">
          <input
          checklist-model="$parent.user.permissions"
          checklist-value="permission.nyhedsbrev_id"
          type="checkbox"
          ng-disabled="!permission.enabled"/>
        </td>
      </tr>
    </tbody>
  </table>
</div>
