<p>
  <a ui-sref="base">Forside</a>
</p>

<h2>Opret ny bruger</h2>
<div class="row">
  <div class="col-sm-4">
    <input type="email" class="form-control" ng-model="newUserEmail" placeholder="Email" />
  </div>
  <div class="col-sm-2 col-sm-offset-4">
    <button class="form-control" ng-click="createUser(newUserEmail)" ng-disabled="creatingUser">Opret</button>
    <small ng-show="creatingUser">Opretter....</small>
  </div>
</div>

<!-- <h2>Tilknyt optout</h2>
<div class="row">
  <div class="col-sm-4">
    <input type="email" class="form-control" ng-model="newOptoutEmail" placeholder="Email" />
  </div>
  <div class="col-sm-4">
    <select class="form-control" ng-model="newEmailOptout">
      <option disabled value="">-- vælg --</option>
      <option ng-repeat="type in vm.optoutTypes" value="{{type.type_id}}">
        (ID: {{type.type_id}}) {{type.type_desc}}
      </option>
    </select>
  </div>
  <div class="col-sm-2">
    <button class="form-control" ng-click="createOptout(newOptoutEmail, newEmailOptout)" ng-disabled="creatingOptout">Opret</button>
    <small ng-show="creatingOptout">Opretter....</small>
  </div>
</div> -->

<h2>Søg</h2>
<form class="clearfix">
  <div class="form-group">
    <div class="row clearfix">
      <div class="col-sm-6">
        <div class="input-group">
          <div class="input-group-addon">
            <span class="glyphicon glyphicon-link"></span>
          </div>
          <input type="text" id="user_id" name="user_id" class="form-control" placeholder="User ID" ng-model="user_id">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="input-group">
          <div class="input-group-addon">
            <span class="glyphicon glyphicon-link"></span>
          </div>
          <input type="text" id="ekstern_id" name="ekstern_id" class="form-control" placeholder="Ekstern ID" ng-model="ekstern_id">
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-sm-6">
        <div class="input-group">
          <div class="input-group-addon">
            <span class="glyphicon glyphicon-user"></span>
          </div>
          <input type="text" id="fornavn" name="fornavn" class="form-control" placeholder="Fornavn" ng-model="fornavn">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="input-group">
          <div class="input-group-addon">
            <span class="glyphicon glyphicon-user"></span>
          </div>
          <input type="text" id="efternavn" name="efternavn" class="form-control" placeholder="Efternavn" ng-model="efternavn">
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-sm-6">
        <div class="input-group">
          <div class="input-group-addon">
            <span class="glyphicon glyphicon-road"></span>
          </div>
          <input type="text" id="vejnavn" name="vejnavn" class="form-control" placeholder="Vejnavn" ng-model="vejnavn">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="input-group">
          <div class="input-group-addon">
            <span class="glyphicon glyphicon-home"></span>
          </div>
          <input type="number" id="postnummer" min="1000" max="9999" name="postnummer" class="form-control" placeholder="Postnummer" ng-model="postnummer">
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-sm-6">
        <div class="input-group">
          <div class="input-group-addon">
            <span class="glyphicon glyphicon-envelope"></span>
          </div>
          <input type="email" id="email" name="email" class="form-control" placeholder="Email" ng-model="email">
        </div>
      </div>
      <div class="col-sm-1">
        <button ng-click="search()" class="btn btn-default">Søg</button>
      </div>
      <div class="col-sm-5">
        <div ng-show="vm.didSearch">Antal resultater: {{vm.users.length}}</div>
      </div>
    </div>
  </div>
</form>
<div class="clearfix row" ng-show="vm.searching">
  <div class="lead text-center" role="alert">Søger</div>
</div>
<table class="table table-striped linkable" ng-if="vm.users.length > 0 && vm.didSearch">
  <thead>
      <tr>
        <th>
          <a href="" ng-click="sortType = 'user_id'; sortReverse = !sortReverse">
            ID
            <span ng-show="sortType == 'user_id' && !sortReverse" class="glyphicon glyphicon-menu-down"></span>
            <span ng-show="sortType == 'user_id' && sortReverse" class="glyphicon glyphicon-menu-up"></span>
          </a>
        </th>
        <th>
          <a href="" ng-click="sortType = 'ekstern_id'; sortReverse = !sortReverse">
            Ekstern ID
            <span ng-show="sortType == 'ekstern_id' && !sortReverse" class="glyphicon glyphicon-menu-down"></span>
            <span ng-show="sortType == 'ekstern_id' && sortReverse" class="glyphicon glyphicon-menu-up"></span>
          </a>
        </th>
        <th>
          <a href="" ng-click="sortType = 'email'; sortReverse = !sortReverse">
            Email
            <span ng-show="sortType == 'email' && !sortReverse" class="glyphicon glyphicon-menu-down"></span>
            <span ng-show="sortType == 'email' && sortReverse" class="glyphicon glyphicon-menu-up"></span>
          </a>
        </th>
        <th>
          <a href="" ng-click="sortType = 'fornavn'; sortReverse = !sortReverse">
            Fornavn
            <span ng-show="sortType == 'fornavn' && !sortReverse" class="glyphicon glyphicon-menu-down"></span>
            <span ng-show="sortType == 'fornavn' && sortReverse" class="glyphicon glyphicon-menu-up"></span>
          </a>
        </th>
        <th>
          <a href="" ng-click="sortType = 'efternavn'; sortReverse = !sortReverse">
            Efternavn
            <span ng-show="sortType == 'efternavn' && !sortReverse" class="glyphicon glyphicon-menu-down"></span>
            <span ng-show="sortType == 'efternavn' && sortReverse" class="glyphicon glyphicon-menu-up"></span>
          </a>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in vm.users | orderBy:sortType:sortReverse" ui-sref="user-detail({ekstern_id:user.ekstern_id})">
        <td>{{::user.user_id}}</td>
        <td><a href="" ui-sref="user-detail({ekstern_id:user.ekstern_id})">{{::user.ekstern_id}}</a></td>
        <td>{{::user.email}}</td>
        <td>{{::user.fornavn}}</td>
        <td>{{::user.efternavn}}</td>
      </tr>
    </tbody>
</table>
<div class="clearfix">
  <div class="alert alert-warning" role="alert" ng-if="vm.didSearch && vm.users.length === 0">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    Søgningen gav ingen resultater
  </div>
</div>
