<div class="clearfix" >
  <div class="row">
    <div class="col-sm-12">
      <button ng-class="{'btn-success ': true, 'btn-success': userForm.$valid}" class="btn" ng-click="updateUser(user)">Gem</button>
    </div>
  </div>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>ID</th>
        <th>Interesse</th>
        <th>Type</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-if="vm.scope.$parent.user.interesser.length > 0">
        <td colspan="99">
          <div class="lead text-center">Tilmeldte<div>
        </td>
      </tr>
      <tr ng-if="vm.scope.$parent.user.interesser.length === 0">
        <td colspan="99">
          <div class="lead text-center">Ingen tilmeldte interesser<div>
        </td>
      </tr>
      <tr ng-repeat="interesse in interesserFull | filter:user_has_interesse | orderBy:'interesse_navn'">
        <td class="col-sm-1">{{interesse.interesse_id}}</td>
        <td class="col-sm-8">{{interesse.interesse_navn}}</td>
        <td class="col-sm-2">{{interesse.interesse_display_type_navn}}</td>
        <td class="col-sm-1">
          <input
            checklist-model="$parent.user.interesser"
            checklist-value="interesse.interesse_id"
            ng-change="$parent.checkbox_change(this, interesse.interesse_id, 'interesser')"
            type="checkbox"/>
        </td>
      </tr>
      <tr>
        <td colspan="99">
          <div class="lead text-center">Ikke tilmeldte<div>
        </td>
      </tr>
      <tr ng-repeat="interesse in interesserFull | filter:user_has_not_interesse | orderBy:'interesse_navn'">
        <td class="col-sm-1">{{interesse.interesse_id}}</td>
        <td class="col-sm-8">{{interesse.interesse_navn}}</td>
        <td class="col-sm-2">{{interesse.interesse_display_type_navn}}</td>
        <td class="col-sm-1">
          <input
            checklist-model="$parent.user.interesser"
            checklist-value="interesse.interesse_id"
            ng-change="$parent.checkbox_change(this, interesse.interesse_id, 'interesser')"
            type="checkbox"/>
        </td>
      </tr>
      <!-- <tr ng-repeat="interesse in interesser.bem" ng-class="{success: user_has_interesse(interesse.interesse_id)}">
        <td>{{interesse.interesse_id}}</td>
        <td>{{interesse.interesse_navn}}</td>
        <td><span class="label label-primary">BEM</span></td>
        <td>
          <input
            checklist-model="$parent.user.interesser"
            checklist-value="interesse.interesse_id"
            ng-change="$parent.checkbox_change(this, interesse.interesse_id, 'interesser')"
            type="checkbox"/>
        </td>
      </tr>
      <tr ng-repeat="interesse in interesser.godttip">
        <td>{{interesse.interesse_id}}</td>
        <td>{{interesse.interesse_navn}}</td>
        <td><span class="label label-success">Godt Tip</span></td>
        <td>
          <input
            checklist-model="$parent.user.interesser"
            checklist-value="interesse.interesse_id"
            ng-change="$parent.checkbox_change(this, interesse.interesse_id, 'interesser')"
            type="checkbox"/>
        </td>
      </tr>
      <tr ng-repeat="interesse in interesser.businesstarget">
        <td>{{interesse.interesse_id}}</td>
        <td>{{interesse.interesse_navn}}</td>
        <td><span class="label label-warning">The Business Target</span></td>
        <td>
          <input
          checklist-model="$parent.user.interesser"
          checklist-value="interesse.interesse_id"
          ng-change="$parent.checkbox_change(this, interesse.interesse_id, 'interesser')"
          type="checkbox"/>
        </td>
      </tr>
      <tr ng-repeat="interesse in interesser.ekstra">
        <td>{{interesse.interesse_id}}</td>
        <td>{{interesse.interesse_navn}}</td>
        <td><span class="label label-info">Ekstra</span></td>
        <td>
          <input
            checklist-model="$parent.user.interesser"
            checklist-value="interesse.interesse_id"
            ng-change="$parent.checkbox_change(this, interesse.interesse_id, 'interesser')"
            type="checkbox"/>
        </td>
      </tr> -->
    </tbody>
  </table>
</div>
