<form action="{{POSTURL}}" method="POST">
  <input name="lid" type="hidden" value="1799"/>
  <input name="nlids" type="hidden" value="300"/>
  <input name="intids" type="hidden" value=""/>
  <input name="url" type="hidden" value=""/>
  <input name="action" type="hidden" value="1"/>
  <input name="email"/>
  <input name="firma"/>
  <input name="fornavn"/>
  <input name="efternavn"/>
  <input name="land"/>
  <input name="postnummer"/>
  <input name="bynavn"/>
  <input name="vejnavn"/>
  <input name="husnummer"/>
  <input name="husbogstav"/>
  <input name="etage"/>
  <input name="sidedoer"/>
  <input name="telefon"/>
  <input name="mobil"/>
  <input name="foedselsaar"/>
  <input name="firma_adresse"/>
  <input type="radio" name="koen" value="K">Kvinde</input>
  <input type="radio" name="koen" value="M">Mand</input>
  <input type="submit" value="Tilmeld" />
</form>
