<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Nyhedsbreve Admin</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><a ui-sref="publishers">Publishers</a></li>
        <li><a ui-sref="nyhedsbreve">Nyhedsbreve</a></li>
        <li><a ui-sref="interesser">Interesser</a></li>
        <li><a ui-sref="permissions">Permissions</a></li>
        <li><a ui-sref="kunder">Kunder</a></li>
        <li><a ui-sref="smartlinkbuilder">Smartlink Builder</a></li>
      </ul>
    </div>
  </div>
</nav>
