<div class="row">
  <div class="col-sm-8 form-group">
    <div class="input-group">
      <div class="input-group-addon">
        <span class="glyphicon glyphicon-search"></span>
      </div>
      <input type="text" class="form-control" placeholder="Søg" ng-model="searchterm">
    </div>
  </div>
  <div class="col-sm-2">
    <button type="button" class="btn btn-default" ng-class="{active: show_disabled}" ng-click="show_disabled = !show_disabled; refreshList()">Vis deaktiverede</button>
  </div>
  <div class="col-sm-2">
    <a ui-sref="settings.permission-create" type="button" class="btn btn-success">Opret ny</a>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-striped linkable">
    <thead>
      <tr>
        <th>
          <a href="" ng-click="sortType = 'nyhedsbrev_id'; sortReverse = !sortReverse">
            ID
            <span class="sorter">
              <span ng-show="sortType == 'nyhedsbrev_id' && !sortReverse" class="glyphicon glyphicon-menu-down"></span>
              <span ng-show="sortType == 'nyhedsbrev_id' && sortReverse" class="glyphicon glyphicon-menu-up"></span>
            </span>
          </a>
        </th>
        <th>
          <a href="" ng-click="sortType = 'nyhedsbrev_navn'; sortReverse = !sortReverse">
            Navn
            <span class="sorter">
              <span ng-show="sortType == 'nyhedsbrev_navn' && !sortReverse" class="glyphicon glyphicon-menu-down"></span>
              <span ng-show="sortType == 'nyhedsbrev_navn' && sortReverse" class="glyphicon glyphicon-menu-up"></span>
            </span>
          </a>
        </th>
        <th>Indhold</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="permission in vm.permissions | orderBy:sortType:sortReverse | filter:searchterm" ui-sref="settings.permission-detail({id:permission.nyhedsbrev_id})" ng-class="{warning: permission.enabled === 0}">
        <td class="col-sm-1">{{::permission.nyhedsbrev_id}}</td>
        <td class="col-sm-3">{{::permission.nyhedsbrev_navn}}</td>
        <td class="col-sm-7"><span ng-bind-html="permission.indhold_safe"></span></td>
        <td class="col-sm-1">
          <abbr title="Skjult"><span class="glyphicon glyphicon-eye-close" aria-hidden="true" ng-if="permission.hidden"></span></abbr>
          <abbr title="Inaktivt"><span class="glyphicon glyphicon-warning-sign" aria-hidden="true" ng-if="!permission.enabled"></span></abbr>
        </td>
      </tr>
    </tbody>
  </table>
</div>
