<h1>{{vm.nyhedsbrev.nyhedsbrev_navn}}</h1>
<form class="form-horizontal" name="nyhedsbrev">
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label">Nyhedsbrev Navn</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="name" placeholder="Nyhedsbrev Navn" ng-model="vm.nyhedsbrev.nyhedsbrev_navn" required>
    </div>
  </div>
  <div class="form-group">
    <label for="publisher" class="col-sm-2 control-label">Publisher</label>
    <div class="col-sm-10">
      <select name="publisher" id="publisher" ng-model="vm.nyhedsbrev.publisher_id">
        <option ng-selected="option.publisher_id === vm.nyhedsbrev.publisher_id" ng-repeat="option in vm.publishers" value="{{option.publisher_id}}">{{option.publisher_navn}}
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="indhold" class="col-sm-2 control-label">Beskrivelse</label>
    <div class="col-sm-10">
      <textarea class="form-control" name="indhold" id="indhold" placeholder="Indhold" ng-model="vm.nyhedsbrev.indhold" required>
      </textarea>
    </div>
  </div>
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label">Billede URL</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="name" placeholder="http://"  required>
    </div>
    <div class="col-sm-5">
      <!-- <img ng-src="vm.nyhedsbrev.toppic" /> -->
      <!--  TODO insert real image-->
    </div>
  </div>
  <div class="form-group">
    <label for="hidden" class="col-sm-2 control-label">Hidden</label>
    <div class="col-sm-10">
      <input type="checkbox" class="form-control" id="hidden" ng-true-value="1" ng-false-value="0" ng-model="vm.nyhedsbrev.hidden" required>
    </div>
  </div>
  <div class="form-group">
    <label for="enabled" class="col-sm-2 control-label">Enabled</label>
    <div class="col-sm-10">
      <input type="checkbox" class="form-control" id="enabled" ng-model="vm.nyhedsbrev.enabled" ng-true-value="1" ng-false-value="0"
      required>
    </div>
  </div>
</form>
