<h2>Sowo Robo</h2>

<p class="help-block">Lokation anvendes som beskrivelse af oprettelse samt tilmeld/afmeld</p>

<form class="form">
  <div class="form-group" ng-class="{'has-error': location_missing || location_error}">
    <label class="control-label" for="inputError1" ng-if="location_missing">Lokation mangler</label>
    <label class="control-label" for="inputError1" ng-if="location_error">{{location_error}}</label>
    <input type="text" class="form-control" ng-model="location_tekst" ng-change="location_change()" ng-disabled="location_created" placeholder="Lokation">
  </div>
</form>


<p class="help-block">Generelle handler for alle rækker</p>

<form class="form-inline" style="padding: 6px 0px;" ng-repeat="action in actions track by $index">
  <!-- <p>Handling {{$index+1}}</p> -->
  <div class="form-group form-group-sm">

    <select class="form-control" ng-model="action.operation">
      <option value="signup">Tilmeld</option>
      <option value="signout">Afmeld</option>
      <!-- <option value="campaign">Kampagne</option> -->
    </select>

    <span ng-if="action.operation === 'signup' || action.operation === 'signout'">

      <select class="form-control" ng-model="action.type">
        <option value="nyhedsbrev">Nyhedsbrev</option>
        <option value="permission">Permission</option>
        <option value="interesse">Interesse</option>
        <option value="optout">Optout</option>
      </select>

      <select class="form-control" ng-model="action.id" ng-if="action.type === 'nyhedsbrev'">
        <option disabled selected="selected" value="">Vælg</option>
        <option ng-repeat="nyhedsbrev in nyhedsbreve" value="{{nyhedsbrev.nyhedsbrev_id}}">{{nyhedsbrev.nyhedsbrev_navn}}</option>
      </select>

      <select class="form-control" ng-model="action.id" ng-if="action.type === 'permission'">
        <option disabled selected="selected" value="">Vælg</option>
        <option ng-repeat="permission in permissions" value="{{permission.nyhedsbrev_id}}">{{permission.nyhedsbrev_navn}}</option>
      </select>

      <select class="form-control" ng-model="action.id" ng-if="action.type === 'interesse'">
        <option disabled selected="selected" value="">Vælg</option>
        <option ng-repeat="interesse in interesser" value="{{interesse.interesse_id}}">{{interesse.interesse_navn}}</option>
      </select>

      <select class="form-control" ng-model="action.id" ng-if="action.type === 'optout'">
        <option disabled selected="selected" value="">Vælg</option>
        <option ng-repeat="optout in optouts" value="{{optout.type_id}}">{{optout.type_desc}}</option>
      </select>
    </span>

    <input type="text" class="form-control" ng-model="action.id" placeholder="Navn" ng-if="action.operation === 'campaign'">

    <button ng-class="" class="btn btn-danger btn-sm" ng-click="removeAction($index)">
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      Fjern handling
    </button>

  </div>
</form>

<form class="form">
  <div class="form-group form-group-sm">
    <button ng-class="" class="btn btn-primary btn-xs" ng-click="addAction()">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      Tilføj handling
    </button>
  </div>
</form>

<hr />

<form class="form-inline">
  <p class="help-block">Indlæs en CSV fil og se indhold.
    <span>(<small><a class="" href="#" ng-click="downloadCsvSampleFile()">Download eksempelfil</a></small>)</span>
  </p>

  <div class="form-group">
    <input type="file" id="importFile" name="importFile" />
  </div>
  <!-- <div class="checkbox">
    <label>
      <input type="checkbox"ng-model="fileHasHeader"> Første linie er header
    </label>
  </div> -->
  <button class="btn btn-sm btn-default" ng-disabled="!fileSelected || parseRunning || allRowsParsed" ng-click="runParse()">
    <span ng-hide="parseRunning">Indlæs</span>
    <span ng-show="parseRunning">Indlæser...</span>
  </button>

  <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>

  <button class="btn btn-sm btn-default" ng-disabled="!allRowsParsed || validationRunning || allRowsValidated" ng-click="runValidation()">
    <span ng-hide="validationRunning">Validér</span>
    <span ng-show="validationRunning">Validerer...</span>
  </button>

  <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>

  <button class="btn btn-sm btn-default" ng-disabled="!allRowsValidated || validationRunning || importRunning || allRowsImported" ng-click="runImport()">
    <span ng-hide="importRunning">Importér</span>
    <span ng-show="importRunning">Importerer...</span>
  </button>

  <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>

  <button class="btn btn-sm btn-default" ng-disabled="!allRowsImported || validationRunning || importRunning" ng-click="downloadResult()">
    Download data
  </button>
</form>

<br />

<div class="row">
  <div class="col-sm-12">
    <strong>Rækker i alt: {{ totalRowCount }}</strong>
  </div>
</div>

<br />

<div class="row">
  <div class="col-sm-12">
    Validering startet kl.: <em ng-if="validationStarted">{{:: validationStarted }}.</em> <br />
    Færdig kl.: <em ng-if="validationEnded">{{:: validationEnded }}.</em> <br />
    Valideret: {{ validatedRowIndex }} <br />
    Fejl: {{ totalValidationErrors }} <br />
    Ialt til import: {{ validatedRowIndex - totalValidationErrors }} <br />
    - heraf oprettes: {{ totalUsersToInsert }} <br />
    - heraf fundet/opdateres: {{ totalUsersFound }}
  </div>
  <div class="col-sm-12">
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="{{ percentValidated }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ percentValidated }}%;"></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    Import startet kl.: <em ng-if="importStarted">{{:: importStarted }}.</em> <br />
    Færdig kl.: <em ng-if="importEnded">{{:: importEnded }}.</em> <br />
    Importeret: {{ importedUsersIndex }} <br />
    - heraf oprettet: {{ totalUsersInserted }} <br />
    - heraf opdateret: {{ totalUsersUpdated }} <br />
    - heraf ingen ændring: {{ totalUsersNoChanges }} <br />
    - heraf fejl: {{ totalImportErrors }}
  </div>
  <div class="col-sm-12">
    <div class="progress">
      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ percentImported }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ percentImported }}%;"></div>
    </div>
  </div>
</div>

<br />

<h2>Preview</h2>
<table class="table table-bordered">
  <thead>
    <tr>
      <th ng-repeat="header in headers">
        <span ng-if="header.mapped" title="Mappet til {{ header.mdbName }}" class="text-primary">{{::header.csvName}}</span>
        <span ng-if="!header.mapped">{{::header.csvName}}</span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="row in previewRows">
      <td ng-repeat="field in flattenRowData(row.data) track by $index">
        {{::field}}
      </td>
    </tr>
  </tbody>
</table>

<br />

<h2>Fejl log</h2>
<pre id="errorLog">
</pre>
