<md-content class="layout-padding" ng-controller="SmartlinkBuilderController as ctrl" flex>
  <h4>Nyhedsbreve</h4>
  <md-chips ng-model="selectedNyhedsbreve" md-autocomplete-snap md-require-match="true">
    <md-autocomplete
        md-selected-item="ctrl.nbSelectedItem"
        md-search-text="ctrl.nbSearchText"
        md-items="item in ctrl.querySearch(ctrl.nyhedsbreve, ctrl.nbSearchText, 'nyhedsbrev_navn')"
        md-item-text="item.nyhedsbrev_navn"
        placeholder="Søg efter et nyhedsbrev">
      <span md-highlight-text="ctrl.nbSearchText">{{item.nyhedsbrev_navn}}</span>
    </md-autocomplete>
    <md-chip-template>
      <span>
        <strong>{{$chip.nyhedsbrev_navn}}</strong>
      </span>
    </md-chip-template>
  </md-chips>
  <md-divider class="md-default-theme">
  </md-divider>
  <h4>Interesser</h4>
  <md-chips ng-model="selectedInteresser" md-autocomplete-snap md-require-match="true">
    <md-autocomplete
        md-selected-item="ctrl.intSelectedItem"
        md-search-text="ctrl.intSearchText"
        md-items="item in ctrl.querySearch(ctrl.interesser, ctrl.intSearchText, 'interesse_navn')"
        md-item-text="item.interesse_navn"
        placeholder="Søg efter en interesse">
      <span md-highlight-text="ctrl.intSearchText">{{item.interesse_navn}}</span>
    </md-autocomplete>
    <md-chip-template>
      <span>
        <strong>{{$chip.interesse_navn}}</strong>
      </span>
    </md-chip-template>
  </md-chips>
  <h4>Permissions</h4>
  <md-chips ng-model="selectedPermissions" md-autocomplete-snap md-require-match="true">
    <md-autocomplete
        md-selected-item="ctrl.permSelectedItem"
        md-search-text="ctrl.permSearchText"
        md-items="item in ctrl.querySearch(ctrl.permissions, ctrl.permSearchText, 'nyhedsbrev_navn')"
        md-item-text="item.nyhedsbrev_navn"
        placeholder="Søg efter en permission">
      <span md-highlight-text="ctrl.intSearchText">{{item.nyhedsbrev_navn}}</span>
    </md-autocomplete>
    <md-chip-template>
      <span>
        <strong>{{$chip.nyhedsbrev_navn}}</strong>
      </span>
    </md-chip-template>
  </md-chips>
  <md-divider class="md-default-theme">
  </md-divider>
  <div layout="row" layout-align="space-around center">
    <div>
      <h4>Flow</h4>
      <md-radio-group ng-model="flow">
       <md-radio-button value="simple" class="md-primary">Simpel</md-radio-button>
       <md-radio-button value="doubleoptin">Double opt-in</md-radio-button>
     </md-radio-group>
    </div>
    <div>
      <h4>Action</h4>
      <md-radio-group ng-model="action">
       <md-radio-button value="subscribe" class="md-primary">Tilmeld</md-radio-button>
       <md-radio-button value="unsubscribe">Afmeld</md-radio-button>
     </md-radio-group>
    </div>
    <div>
      <h4>Kundefelt</h4>
      <md-radio-group ng-model="customer">
       <md-radio-button value="email" class="md-primary">Email</md-radio-button>
       <md-radio-button value="externalid">Ekstern ID</md-radio-button>
     </md-radio-group>
    </div>
  </div>


  <md-divider class="md-default-theme">
  </md-divider>
  <h4>Gyldighedsperiode</h4>
  <div layout="row" layout-align="space-around center">
    <div>
      <h4>Startdato</h4>
      <form name="myForm">
        <md-datepicker name="dateField" ng-model="fromDate" md-placeholder="Enter date" required md-min-date="ctrl.minDate"></md-datepicker>
        <div class="validation-messages" ng-messages="myForm.dateField.$error">
          <div ng-message="required">Startdato er påkrævet</div>
          <div ng-message="mindate">Startdato kan ikke være før dags dato.</div>
        </div>
      </form>
    </div>
    <div>
      <h4>Eventuel slutdato</h4>
      <md-datepicker name="dateField" ng-model="toDate" md-min-date="ctrl.minDate" md-placeholder="Slutdato"></md-datepicker>
    </div>
  </div>
  <md-divider class="md-default-theme" />
  <h4>Valgfri landing page</h4>
  <form name="landingform">
    <md-input-container>
      <label>Landing page</label>
      <input name="landingpage" type="url" ng-model="landingpage">
    </md-input-container>
    <div ng-messages="landingform.landingpage.$error" ng-show="landingform.landingpage.$dirty">
      <div ng-message="url">Indtast en gyldig URL</div>
    </div>
  </form>
  <md-divider class="md-default-theme" />
  <h2>Smartlink</h2>
  <pre>{{smartLink}}</pre>

</md-content>
