<div class="view smartlinkbuilder">
  <h1>Smartlink Builder</h1>
  <form name="smartlinkForm">
    <div class="col-sm-4">
      <div class="form-group">
        <h4>Nyhedsbreve</h4>
        <select name="nyhedsbrevSelect" id="nyhedsbrevSelect" ng-model="selectedNyhedsbreve" ng-change="onChange()" required multiple>
          <option ng-repeat="nyhedsbrev in vm.nyhedsbreve" value="{{nyhedsbrev.nyhedsbrev_id}}">{{nyhedsbrev.nyhedsbrev_navn}}
          </option>
        </select>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <h4>Interesser</h4>
        <select name="interesseSelect" id="interesseSelect" ng-model="selectedInteresser" ng-change="onChange()" required multiple>
          <option ng-repeat="interesse in vm.interesser" value="{{interesse.interesse_id}}">{{interesse.interesse_navn}}
          </option>
        </select>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <h4>Permissions</h4>
        <select name="permissionSelect" id="permissionSelect" ng-model="selectedPermissions" ng-change="onChange()" required multiple>
          <option ng-repeat="permission in vm.permissions" value="{{permission.nyhedsbrev_id}}">{{permission.nyhedsbrev_navn}}
          </option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-12">
        <h3>Location</h3>
        <input placeholder="Location tekst" ng-change="" name="location" type="text" required class="form-control full-width" ng-model="location_tekst" />
        <button class="btn btn-default" ng-click="vm.updateLocation(location_tekst)">Opret</button>
      </div>
    </div>

    <div class="col-sm-4">
      <h3>Flow</h3>
      <div class="btn-group">
        <label class="btn btn-primary" ng-model="flow" ng-change="onChange()" uib-btn-radio="'simple'" uncheckable>Simpel</label>
        <label class="btn btn-primary" ng-model="flow" ng-change="onChange()" uib-btn-radio="'double'" uncheckable>Double Optin</label>
      </div>
    </div>
    <div class="col-sm-4">
      <h3>Action</h3>
      <div class="btn-group">
          <label class="btn btn-primary" ng-model="action" ng-change="onChange()" uib-btn-radio="'subscribe'" uncheckable>Tilmeld</label>
          <label class="btn btn-primary" ng-model="action" ng-change="onChange()" uib-btn-radio="'unsubscribe'" uncheckable>Afmeld</label>
      </div>
    </div>
    <div class="col-sm-4">
      <h3>Kundefelt</h3>
      <div class="btn-group">
          <label class="btn btn-primary" ng-model="customerfield" ng-change="onChange()" uib-btn-radio="'email'" uncheckable>Email</label>
          <label class="btn btn-primary" ng-model="customerfield" ng-change="onChange()" uib-btn-radio="'eksternid'" uncheckable>Ekstern ID</label>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-12">
        <h3>Landing page</h3>
        <input placeholder="Landing page" ng-change='updateSmartlink()' type="url" class="form-control full-width" name="landingpage" ng-model="landingpage" />
      </div>
    </div>
  </form>

  <div ng-if="smartlinkForm.$valid" class="well col-xs-12">
    <div class="col-xs-12">
      <h3>Smartlink</h3>
      <pre>{{smartlink}}</pre>
    </div>
    <div class="col-xs-12">
      <h3>Smartlink Form</h3>
        <pre><code>{{postSource}}</code></pre>
    </div>
  </div>

  <div class="col-xs-12" ng-if="smartlinkForm.$invalid">
    <div class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Fejl:</span>
      <div ng-messages="smartlinkForm.nyhedsbrevSelect.$error" role="alert">
        <div ng-message="required">Du skal vælge mindst ét nyhedsbrev.</div>
      </div>
      <div ng-messages="smartlinkForm.interesseSelect.$error" role="alert">
        <div ng-message="required">Du skal vælge mindst én interesse.</div>
      </div>
      <div ng-messages="smartlinkForm.permissionSelect.$error" role="alert">
        <div ng-message="required">Du skal vælge mindst én permission.</div>
      </div>
      <div ng-messages="smartlinkForm.location.$error" role="alert">
        <div ng-message="required">Du skal indtaste en location.</div>
      </div>
      <div ng-messages="smartlinkForm.landingpage.$error" role="alert">
        <div ng-message="url">Du skal indtaste en gyldig URL.</div>
      </div>
    </div>
  </div>
</div>

<script type="text/ng-template" id="formPostTemplate.html">
<form action="http://profil.berlingskemedia.dk/smartlink" method="POST">
  <input type="hidden" ng-repeat="n in selectedNyhedsbreve" name="nlid" value="{{n}}"/>
  <input type="hidden" ng-repeat="i in selectedInteresser track by $index" name="intid" value="{{i}}"/>
  <input type="hidden" ng-repeat="p in selectedPermissions" name="pid" value="{{p}}"/>
  <input name="lid" type="hidden" value="{{location.location_id}}"/>
  <input name="startdate" type="hidden" value="{{unixStartdate}}"/>
  <input ng-if="enddate" name="enddate" type="hidden" value="{{unixenddate}}"/>
  <input name="flow" type="hidden" value="{{flow}}"/>
  <input name="action" type="hidden" value="{{action}}"/>
  <input name="customerfield" type="hidden" value="{{customerfield}}"/>
  <input ng-if="landingpage" name="landingpage" type="hidden" value="{{landingpage}}"/>
  <input name="email"/>
  <input name="firma"/>
  <input name="fornavn"/>
  <input name="efternavn"/>
  <input name="land"/>
  <input name="postnummer"/>
  <input name="bynavn"/>
  <input name="vejnavn"/>
  <input name="husnummer"/>
  <input name="husbogstav"/>
  <input name="etage"/>
  <input name="sidedoer"/>
  <input name="telefon"/>
  <input name="mobil"/>
  <input name="foedselsaar"/>
  <input name="firma_adresse"/>
  <input type="radio" name="koen" value="K">Kvinde</input>
  <input type="radio" name="koen" value="M">Mand</input>
  <input type="submit" value="Tilmeld" />
</form>
</script>
