<p>
  <a ui-sref="base">Forside</a>
</p>

<h2>List of users we assume you are here to run delete process on...</h2>

<div class="clearfix row lead text-center">
  <div class="col-sm-1">
    <button ng-click="search()" class="btn btn-primary">Fetch users</button>
  </div>
  <div class="col-sm-8">
    <div >Found users: {{vm.users.length || 0}}</div>
  </div>
  <div class="col-sm-1">
    <button ng-click="search()" class="btn btn-danger">Delete users</button>
  </div>
</div>
<div class="clearfix row" ng-show="vm.searching">
  <div class="lead text-center" role="alert">Inactive users according to complex conditions</div>
</div>
<table class="table table-striped linkable" ng-if="vm.users.length > 0 && vm.didSearch">
  <thead>
  <tr>
    <th>Email
    </th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="user in vm.users">
    <td>{{::user.email}}</td>
  </tr>
  </tbody>
</table>
<div class="clearfix">
  <div class="alert alert-warning" role="alert" ng-if="vm.didSearch && vm.users.length === 0">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    No results found
  </div>
</div>
