<a ui-sref="main.publisher-create">
  <button type="submit" class="btn btn-success">Opret Publisher</button>
</a>
<div class="table-responsive">
  <form>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon">
          <span class="glyphicon glyphicon-search"></span>
        </div>
        <input type="text" class="form-control" placeholder="Søg" ng-model="searchterm">
      </div>
    </div>
  </form>
  <table class="table table-striped linkable">
    <thead>
        <tr>
          <th>
            <a href="" ng-click="sortType = 'publisher_id'; sortReverse = !sortReverse">
              ID
              <span ng-show="sortType == 'publisher_id' && !sortReverse" class="glyphicon glyphicon-menu-down"></span>
              <span ng-show="sortType == 'publisher_id' && sortReverse" class="glyphicon glyphicon-menu-up"></span>
            </a>
          </th>
          <th>
            <a href="" ng-click="sortType = 'publisher_navn'; sortReverse = !sortReverse">
              Navn
              <span ng-show="sortType == 'publisher_navn' && !sortReverse" class="glyphicon glyphicon-menu-down"></span>
              <span ng-show="sortType == 'publisher_navn' && sortReverse" class="glyphicon glyphicon-menu-up"></span>
            </a>
          </th>
          <th>
            <a href="" ng-click="sortType = 'enabled'; sortReverse = !sortReverse">
              Enabled
              <span ng-show="sortType == 'enabled' && !sortReverse" class="glyphicon glyphicon-menu-down"></span>
              <span ng-show="sortType == 'enabled' && sortReverse" class="glyphicon glyphicon-menu-up"></span>
            </a>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="publisher in vm.publishers | orderBy:sortType:sortReverse | filter:searchterm" ui-sref="main.publisher-detail({id:publisher.publisher_id})">
            <th>{{::publisher.publisher_id}}</th>
            <td>{{::publisher.publisher_navn}}</td>
            <td>{{::publisher.enabled ? 'True' : 'False'}}</td>
        </tr>
      </tbody>
  </table>
</div>
