<form class="clearfix">
  <div class="form-group">
    <div class="col-sm-6">
      <div class="input-group">
        <div class="input-group-addon">
          <span class="glyphicon glyphicon-envelope"></span>
        </div>
        <input type="email" id="email" name="email" class="form-control" placeholder="Email" ng-model="email" ng-change="search()">
      </div>
    </div>
    <div class="col-sm-6">
      <div class="input-group">
        <div class="input-group-addon">
          <span class="glyphicon glyphicon-link"></span>
        </div>
        <input type="text" id="ekstern_id" name="ekstern_id" class="form-control" placeholder="Ekstern Id" ng-model="ekstern_id" ng-change="search()">
      </div>
    </div>
    <div class="col-sm-6">
      <div class="input-group">
        <div class="input-group-addon">
          <span class="glyphicon glyphicon-user"></span>
        </div>
        <input type="text" id="fornavn" name="fornavn" class="form-control" placeholder="Fornavn" ng-model="fornavn" ng-change="search()">
      </div>
    </div>
    <div class="col-sm-6">
      <div class="input-group">
        <div class="input-group-addon">
          <span class="glyphicon glyphicon-user"></span>
        </div>
        <input type="text" id="efternavn" name="efternavn" class="form-control" placeholder="Efternavn" ng-model="efternavn" ng-change="search()">
      </div>
    </div>
    <div class="col-sm-6">
      <div class="input-group">
        <div class="input-group-addon">
          <span class="glyphicon glyphicon-road"></span>
        </div>
        <input type="text" id="vejnavn" name="vejnavn" class="form-control" placeholder="Vejnavn" ng-model="vejnavn" ng-change="search()">
      </div>
    </div>
    <div class="col-sm-6">
      <div class="input-group">
        <div class="input-group-addon">
          <span class="glyphicon glyphicon-home"></span>
        </div>
        <input type="number" id="postnummer" min="1000" max="9999" name="postnummer" class="form-control" placeholder="Postnummer" ng-model="postnummer" ng-change="search()">
      </div>
    </div>
  </div>
</form>
<table class="table table-striped linkable" ng-if="vm.users.length > 0 && vm.didSearch">
  <thead>
      <tr>
        <th>
          <a href="" ng-click="sortType = 'user_id'; sortReverse = !sortReverse">
            ID
            <span ng-show="sortType == 'user_id' && !sortReverse" class="glyphicon glyphicon-menu-down"></span>
            <span ng-show="sortType == 'user_id' && sortReverse" class="glyphicon glyphicon-menu-up"></span>
          </a>
        </th>
        <th>
          <a href="" ng-click="sortType = 'ekstern_id'; sortReverse = !sortReverse">
            Ekstern ID
            <span ng-show="sortType == 'ekstern_id' && !sortReverse" class="glyphicon glyphicon-menu-down"></span>
            <span ng-show="sortType == 'ekstern_id' && sortReverse" class="glyphicon glyphicon-menu-up"></span>
          </a>
        </th>
        <th>
          <a href="" ng-click="sortType = 'email'; sortReverse = !sortReverse">
            Email
            <span ng-show="sortType == 'email' && !sortReverse" class="glyphicon glyphicon-menu-down"></span>
            <span ng-show="sortType == 'email' && sortReverse" class="glyphicon glyphicon-menu-up"></span>
          </a>
        </th>
        <th>
          <a href="" ng-click="sortType = 'fornavn'; sortReverse = !sortReverse">
            Fornavn
            <span ng-show="sortType == 'fornavn' && !sortReverse" class="glyphicon glyphicon-menu-down"></span>
            <span ng-show="sortType == 'fornavn' && sortReverse" class="glyphicon glyphicon-menu-up"></span>
          </a>
        </th>
        <th>
          <a href="" ng-click="sortType = 'efternavn'; sortReverse = !sortReverse">
            Efternavn
            <span ng-show="sortType == 'efternavn' && !sortReverse" class="glyphicon glyphicon-menu-down"></span>
            <span ng-show="sortType == 'efternavn' && sortReverse" class="glyphicon glyphicon-menu-up"></span>
          </a>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in vm.users | orderBy:sortType:sortReverse" ui-sref="user.detail({ekstern_id:user.ekstern_id})">
          <th>{{::user.user_id}}</th>
          <td>{{::user.ekstern_id}}</td>
          <td>{{::user.email}}</td>
          <td>{{::user.fornavn}}</td>
          <td>{{::user.efternavn}}</td>
      </tr>
    </tbody>
</table>
<div class="clearfix">
  <div class="alert alert-warning" role="alert" ng-if="vm.didSearch && vm.users.length === 0">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    Søgningen gav ingen resultater
  </div>
</div>
