<form name="userForm">
  <div class="row">
    <div class="col-sm-12">
      <button ng-class="{'btn-success ': true, 'btn-success': userForm.$valid}" class="btn" ng-click="updateUser(user)">Gem</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <label for="email">Email</label>
      <input type="email" ng-required="true" ng-model="user.email" class="form-control input-sm" id="email" name="email">
      <label for="">Fornavn</label>
      <input type="text" ng-maxlength="255" ng-model="user.fornavn" name="fornavn" class="form-control input-sm" id="fornavn">
      <label for="">Efternavn</label>
      <input type="text" ng-maxlength="255" ng-model="user.efternavn" name="lastname" class="form-control input-sm" id="lastname">
    </div>
    <div class="col-sm-12 col-md-6">
      <dl class="dl-horizontal">
        <dt>User ID</dt>
        <dd>{{::user.user_id}}</dd>
        <dt>Ekstern ID</dt>
        <dd>{{::user.ekstern_id}}</dd>
        <dt>Registreret</dt>
        <dd>{{user.insert_dato | amDateFormat:'DD/MM-YYYY HH:mm:ss'}}</dd>
        <dt>Opdateret</dt>
        <dd>{{user.opdatering_dato | amDateFormat:'DD/MM-YYYY HH:mm:ss'}}</dd>
        <dt>Blacklistet</dt>
        <dd><input type="checkbox" ng-model="user.robinson_flag"></dd>
      </dl>
    </div>
  </div>
  <div class="row">

    <div class="col-sm-3 col-md-2">
      <label for="postnummer_dk">Postnummer DK.</label>
      <input min="0" max="9999" ng-model="user.postnummer_dk" type="number" name="postnummer_dk" class="form-control input-sm" id="postnummer_dk">
    </div>

    <div class="col-sm-3 col-md-2">
      <label for="postnummer">Postnummer</label>
      <input class="form-control input-sm" ng-maxlength="70" id="postnummer" ng-model="user.postnummer" type="text">
    </div>

    <div class="col-sm-4 col-md-3">
      <label for="vejnavn">Vejnavn</label>
      <input class="form-control input-sm" ng-maxlength="255" id="vejnavn" ng-model="user.vejnavn" placeholder="" type="text">
    </div>

    <div class="col-sm-4 col-md-2">
      <label for="husnummer">Husnr.</label>
      <input class="form-control input-sm" ng-maxlength="10" id="husnummer" ng-model="user.husnummer" type="text">
    </div>

    <div class="col-sm-4 col-md-2">
      <label for="husbogstav">Bogstav</label>
      <input class="form-control input-sm" ng-maxlength="10" id="husbogstav" ng-model="user.husbogstav" type="text">
    </div>

    <div class="col-sm-4 col-md-2">
      <label for="etage">Etage</label>
      <input class="form-control input-sm" ng-maxlength="10" id="etage" ng-model="user.etage" type="text">
    </div>

    <div class="col-sm-4 col-md-2">
      <label for="">Side</label>
      <input class="form-control input-sm" ng-maxlength="10" id="sideoer" ng-model="user.sidedoer" type="text">
    </div>

    <div class="col-sm-6 col-md-3">
      <label for="land">Land</label>
      <input class="form-control input-sm" ng-maxlength="255" id="Land" ng-model="user.land" type="text">
    </div>

    <div class="col-sm-6">
      <label for="bynavn">By</label>
      <input class="form-control input-sm" ng-maxlength="70" id="bynavn" ng-model="user.bynavn" placeholder="" type="text">
    </div>

    <div class="col-sm-6">
      <label for="telefon">Telefon</label>
      <input class="form-control input-sm" ng-maxlength="255"  id="telefon" ng-model="user.telefon" type="text">
    </div>

    <div class="col-sm-6">
      <label for="mobil">Mobil</label>
      <input class="form-control input-sm" ng-maxlength="255" id="mobil" ng-model="user.mobil" type="text">
    </div>

    <div class="col-sm-6 col-md-4">
      <label for="firma_adresse">Firma Adresse</label>
      <input class="form-control input-sm" ng-maxlength="255" id="firma_adresse" ng-model="user.firma_adresse" type="text">
    </div>

    <div class="col-sm-3">
      <label for="co_navn">C/O Navn</label>
      <input class="form-control input-sm" ng-maxlength="255" id="co_navn" ng-model="user.co_navn" type="text">
    </div>

    <div class="col-sm-3 col-md-2">
      <label for="koen">Køn</label>
      <input class="form-control input-sm" ng-maxlength="8" id="koen" ng-model="user.koen" type="text">
    </div>

    <div class="col-sm-3 col-md-2">
      <label for="foedselsdato">Fødselsdato</label>
      <input input="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="user.foedselsdato" />
    </div>

    <div class="col-sm-3 col-md-2">
      <label for="foedselsaar">Fødselsår</label>
      <input class="form-control input-sm" id="foedselsaar" ng-maxlength="255" ng-model="user.foedselsaar" type="text">
    </div>
  </div>
</form>

<h3>Optouts</h3>
<table class="table table-condensed">
  <tbody>
    <tr ng-repeat="optout in userOptouts">
      <td class="col-sm-5">{{::optout.type_desc}}</td>
      <td class="col-sm-5">{{::optout.insert_ts}}</td>
      <td class="col-sm-2">
        <button class="btn btn-warning" ng-click="deleteOptout(optout, $index)">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<div class="row">
  <div class="col-sm-5">
    <select
      class="form-control"
      ng-model="add_optoutsType"
      ng-options="optoutsType as optoutsType.type_desc for optoutsType in optoutsTypes | alreadyAddedOptouts:userOptouts">
      <option disabled value="">-- vælg optout --</option>
    </select>
  </div>
  <div class="col-sm-2">
    <button class="btn btn-default" ng-click="addOptout(add_optoutsType)">
      Tilknyt
    </button>
  </div>
</div>
