<div class="well clearfix" >
  <h3>Tilmeldte nyhedsbreve</h3>
  <div class="col-lg-4 col-sm-6 col-xs-12" ng-repeat="nyhedsbrev in nyhedsbreve | filter: in_user_nyhedsbreve | orderBy: ['publisher_id','nyhedsbrev_navn']">
    <label data-interesse-id="{{ nyhedsbrev.nyhedsbrev_id }}">
      <input checklist-model="$parent.user.nyhedsbreve" checklist-value="nyhedsbrev.nyhedsbrev_id" type="checkbox"/>
      {{nyhedsbrev.nyhedsbrev_navn}}
    </label>
  </div>
  <div class="col-sm-12">
    <button type="button" name="button" class="btn" ng-click="$parent.user.nyhedsbreve = []">Afmeld alle</button>
  </div>
</div>
<div class="well clearfix" >
  <h3>Ikke tilmeldte nyhedsbreve</h3>
  <div class="col-lg-4 col-sm-6 col-xs-12" ng-repeat="nyhedsbrev in nyhedsbreve | filter: not_in_user_nyhedsbreve | orderBy: ['publisher_id','nyhedsbrev_navn']">
    <label data-interesse-id="{{ nyhedsbrev.nyhedsbrev_id }}">
      <input checklist-model="$parent.user.nyhedsbreve" checklist-value="nyhedsbrev.nyhedsbrev_id" type="checkbox"/>
      {{nyhedsbrev.nyhedsbrev_navn}}
    </label>
  </div>
</div>
<div class="col-sm-offset-10 col-sm-2">
  <button ng-class="{'btn-success ': true, 'btn-success': userForm.$valid}" class="btn pull-right " ng-click="updateUser(user)">Gem
  </button>
</div>
