<div class="well clearfix" >
  <div class="col-lg-4 col-sm-6 col-xs-12" ng-repeat="nyhedsbrev in nyhedsbreve">
    <label data-interesse-id="{{ nyhedsbrev.nyhedsbrev_id }}">
      <input checklist-model="$parent.user.nyhedsbreve" checklist-value="nyhedsbrev.nyhedsbrev_id" type="checkbox"/>
      {{nyhedsbrev.nyhedsbrev_navn}}
    </label>
  </div>
</div>
<div class="col-sm-offset-10 col-sm-2">
  <button ng-class="{'btn-success ': true, 'btn-success': userForm.$valid}" class="btn pull-right " ng-click="updateUser(user)">Gem
  </button>
</div>
