<div class="clearfix" >
  <div class="row">
    <div class="col-sm-12">
      <button type="button" name="button" class="btn btn-default" ng-click="$parent.user.nyhedsbreve = []">Afmeld alle</button>
      <button ng-class="{'btn-success ': true, 'btn-success': userForm.$valid}" class="btn" ng-click="updateUser(user)">Gem</button>
    </div>
  </div>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th></th>
        <th>ID</th>
        <th>Nyhedsbrev</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="permission in permissions | orderBy: ['publisher_id','nyhedsbrev_navn']" ng-class="{success: user_has_permission(permission.nyhedsbrev_id), _warning: permission.hidden}">
        <td>
          <input
            checklist-model="$parent.user.nyhedsbreve"
            checklist-value="permission.nyhedsbrev_id"
            type="checkbox"
            ng-disabled="!permission.enabled"/>
        </td>
        <td>{{permission.nyhedsbrev_id}}</td>
        <td>{{permission.nyhedsbrev_navn}}</td>
        <td>
          <span class="label label-primary" ng-if="!permission.enabled">Inaktivt</span>
          <span class="label label-default" ng-if="permission.hidden">Skjult</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
