<form>
  <div class="form-group">

    <div class="col-sm-6">
      <div class="input-group">
        <div class="input-group-addon">
          <span class="glyphicon glyphicon-envelope"></span>
        </div>
        <input type="email" id="email" name="email" class="form-control" placeholder="Email" ng-model="email" ng-change="search()">
      </div>
    </div>
    <div class="col-sm-6">
      <div class="input-group">
        <div class="input-group-addon">
          <span class="glyphicon glyphicon-link"></span>
        </div>
        <input type="text" id="ekstern_id" name="ekstern_id" class="form-control" placeholder="Ekstern Id" ng-model="ekstern_id" ng-change="search()">
      </div>
    </div>
    <div class="col-sm-6">
      <div class="input-group">
        <div class="input-group-addon">
          <span class="glyphicon glyphicon-user"></span>
        </div>
        <input type="text" id="fornavn" name="fornavn" class="form-control" placeholder="Fornavn" ng-model="fornavn" ng-change="search()">
      </div>
    </div>
    <div class="col-sm-6">
      <div class="input-group">
        <div class="input-group-addon">
          <span class="glyphicon glyphicon-user"></span>
        </div>
        <input type="text" id="efternavn" name="efternavn" class="form-control" placeholder="Efternavn" ng-model="efternavn" ng-change="search()">
      </div>
    </div>
    <div class="col-sm-6">
      <div class="input-group">
        <div class="input-group-addon">
          <span class="glyphicon glyphicon-home"></span>
        </div>
        <input type="text" id="vejnavn" name="vejnavn" class="form-control" placeholder="Vejnavn" ng-model="vejnavn" ng-change="search()">
      </div>
    </div>
    <div class="col-sm-6">
      <div class="input-group">
        <div class="input-group-addon">
          <span class="glyphicon glyphicon-home"></span>
        </div>
        <input type="number" id="postnummer" min="1000" max="9999" name="postnummer" class="form-control" placeholder="Postnummer" ng-model="postnummer" ng-change="search()">
      </div>
    </div>
  </div>
</form>
