<table class="table table-striped">
  <thead>
    <tr>
      <th>
        <a href="" ng-click="sortType = 'oprettet'; sortReverse = !sortReverse">
          Oprettet
          <span ng-show="sortType == 'oprettet' && !sortReverse" class="glyphicon glyphicon-menu-down"></span>
          <span ng-show="sortType == 'oprettet' && sortReverse" class="glyphicon glyphicon-menu-up"></span>
        </a>
      </th>
      <th>
        <a href="" ng-click="sortType = 'user_action_type_name'; sortReverse = !sortReverse">
          Type
          <span ng-show="sortType == 'user_action_type_name' && !sortReverse" class="glyphicon glyphicon-menu-down"></span>
          <span ng-show="sortType == 'user_action_type_name' && sortReverse" class="glyphicon glyphicon-menu-up"></span>
        </a>
      </th>
      <th>
        <a href="" ng-click="sortType = 'location_id'; sortReverse = !sortReverse">
          Location
          <span ng-show="sortType == 'location_id' && !sortReverse" class="glyphicon glyphicon-menu-down"></span>
          <span ng-show="sortType == 'location_id' && sortReverse" class="glyphicon glyphicon-menu-up"></span>
        </a>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="99">
        <div class="lead text-center">Nyhedsbreve</div>
      </td>
    </tr>
    <tr ng-repeat="item in history.actions | user_action_type:[1,2] | orderBy:sortType:sortReverse">
      <td>{{::item.oprettet | amDateFormat:'DD/MM-YYYY HH:mm:ss'}}</td>
      <td>{{::item.user_action_type_name}}</td>
      <td>{{::item.location_tekst}}</td>
    </tr>
    <tr>
      <td colspan="99">
        <div class="lead text-center">Interesser</div>
      </td>
    </tr>
    <tr ng-repeat="item in history.actions | user_action_type:[3,4] | orderBy:sortType:sortReverse">
      <td>{{::item.oprettet | amDateFormat:'DD/MM-YYYY HH:mm:ss'}}</td>
      <td>{{::item.user_action_type_name}}</td>
      <td>{{::item.location_tekst}}</td>
    </tr>
    <tr>
      <td colspan="99">
        <div class="lead text-center">Andre</div>
      </td>
    </tr>
    <tr ng-repeat="item in history.actions | user_action_type:[5,6,7,8] | orderBy:sortType:sortReverse">
      <td>{{::item.oprettet | amDateFormat:'DD/MM-YYYY HH:mm:ss'}}</td>
      <td>{{::item.user_action_type_name}}</td>
      <td>{{::item.location_tekst}}</td>
    </tr>
  </tbody>
</table>
