<div class="row">
  <div class="col-sm-2">
    <select
    class="form-control"
    ng-model="displayTypeId"
    ng-options="interesseType.interesse_display_type_id as interesseType.interesse_display_type_navn for interesseType in interesseTypes"
    _ng-change="getInteresser(displayTypeId)">
    <option value="">-- alle --</option>
  </select>
</div>
  <div class="col-sm-8 form-group">
    <div class="input-group">
      <div class="input-group-addon">
        <span class="glyphicon glyphicon-search"></span>
      </div>
      <input type="text" class="form-control" placeholder="Søg" ng-model="searchterm">
    </div>
  </div>
  <div class="col-sm-2">
    <a ui-sref="settings.interesse-create" type="button" class="btn btn-success">Opret Interesse</a>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-striped linkable">
    <thead>
      <tr>
        <th>
          <a href="" ng-click="sortType = 'interesse_id'; sortReverse = !sortReverse">
            ID
            <span ng-show="sortType == 'interesse_id' && !sortReverse" class="glyphicon glyphicon-menu-down"></span>
            <span ng-show="sortType == 'interesse_id' && sortReverse" class="glyphicon glyphicon-menu-up"></span>
          </a>
        </th>
        <th>
          <a href="" ng-click="sortType = 'interesse_navn'; sortReverse = !sortReverse">
            Navn
            <span ng-show="sortType == 'interesse_navn' && !sortReverse" class="glyphicon glyphicon-menu-down"></span>
            <span ng-show="sortType == 'interesse_navn' && sortReverse" class="glyphicon glyphicon-menu-up"></span>
          </a>
        </th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="interesse in vm.interesser | orderBy:'interesse_navn' | filter:searchterm">
        <td class="col-sm-1" ui-sref="settings.interesse-detail({id:interesse.interesse_id})">{{::interesse.interesse_id}}</td>
        <td class="col-sm-5" ui-sref="settings.interesse-detail({id:interesse.interesse_id})">{{::interesse.interesse_navn}}</td>
        <td class="col-sm-3">
          <span ng-repeat="type in interesse.types">
            <span class="label label-default">
              {{::type.interesse_display_type_navn}}
              <abbr ng-if="type.display_text" title="{{::type.display_text}}"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></abbr>
            </span>&nbsp;
          </span>
        </td>
        <td class="col-sm-1">
          <abbr ng-if="interesse.beskrivelse" title="{{::interesse.beskrivelse}}" class="no_dots">
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
          </abbr>
        </td>
      </tr>
    </tbody>
  </table>
</div>
