<div class="row">
  <div class="col-sm-6">
    <div class="input-group">
      <div class="input-group-addon">
        <span class="glyphicon glyphicon-search"></span>
      </div>
      <input type="text" class="form-control" placeholder="Søg" ng-model="searchterm">
    </div>
  </div>
  <div class="col-sm-6">
    <form class="form-inline">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Lokation" ng-model="new_location_tekst">
      </div>
      <button ng-click="vm.create(new_location_tekst)" type="submit" class="btn btn-success">Opret</a>
    </form>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-condensed">
    <thead>
        <tr>
          <th>
            <a href="" ng-click="sortType = 'location_id'; sortReverse = !sortReverse">
              ID
              <span ng-show="sortType == 'location_id' && !sortReverse" class="glyphicon glyphicon-menu-down"></span>
              <span ng-show="sortType == 'location_id' && sortReverse" class="glyphicon glyphicon-menu-up"></span>
            </a>
          </th>
          <th>
            <a href="" ng-click="sortType = 'location_tekst'; sortReverse = !sortReverse">
              Beskrivelse
              <span ng-show="sortType == 'location_tekst' && !sortReverse" class="glyphicon glyphicon-menu-down"></span>
              <span ng-show="sortType == 'location_tekst' && sortReverse" class="glyphicon glyphicon-menu-up"></span>
            </a>
          </th>
          <th>Oprettet</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="location in vm.locations | orderBy:sortType:sortReverse | filter:searchterm ">
          <td class="col-sm-1">{{::location.location_id}}</td>
          <td class="col-sm-8">{{::location.location_tekst}}</td>
          <td class="col-sm-3">{{::location.location_created_moment}}</td>
          <!-- <td>
            <input type="text" name="name" class="full-width" value="" ng-model="location.location_tekst" />
          </td>
          <td>
            <button type="button" name="button" class="btn btn-success" ng-click="vm.save(location)">Gem</button>
          </td> -->
        </tr>
      </tbody>
  </table>
</div>
<div class="clearfix row" ng-if="!vm.locations">
  <div class="lead text-center" role="alert">Indlæser</div>
</div>
