<div class="row">
  <div class="col-sm-12">
    <button ng-hide="vm.createMode || !vm.publisher.enabled" type="submit" class="btn" ng-class="{'btn-success' : publisherForm.$valid}" ng-disabled="publisherForm.$invalid" ng-click="vm.update(vm.publisher)">Gem</button>
    <button ng-hide="vm.createMode" ng-if="vm.publisher.enabled" type="submit" class="btn btn-danger" ng-click="vm.delete(vm.publisher)">Deaktiver</button>
    <button ng-show="!vm.createMode && !vm.publisher.enabled" type="submit" class="btn btn-danger" ng-click="vm.active(vm.publisher)">Genaktivér</button>
    <button ng-if="vm.createMode" type="submit" class="btn" class="btn" ng-class="{'btn-success' : publisherForm.$valid}" ng-click="vm.create(vm.publisher)">Opret</button>
  </div>
</div>
<form name="publisherForm">
  <div class="form-group" ng-if="!vm.createMode">
    <label>Publisher ID</label>
    <input type="text" name="id" disabled placeholder="" ng-model="vm.publisher.publisher_id" class="form-control">
  </div>
  <div class="form-group">
    <label>Navn</label>
    <input type="text" name="name" required placeholder="Navn" ng-disabled="!vm.publisher.enabled" ng-model="vm.publisher.publisher_navn"class="form-control">
  </div>
  <div ng-messages="publisherForm.name.$error">
    <div ng-message="required">
      <nyhedsbreve-error-message message="Publisher navn er påkrævet">
      </nyhedsbreve-error-message>
    </div>
  </div>

  <div class="form-group">
    <label>Wheel title</label>
    <input type="text" name="wheeltitle" placeholder="Wheel title" ng-disabled="!vm.publisher.enabled" ng-model="vm.publisher.wheel_title" class="form-control">
  </div>
  <div ng-messages="publisherForm.wheeltitle.$error">
    <div ng-message="required">
      <nyhedsbreve-error-message message="Wheel title er påkrævet">
      </nyhedsbreve-error-message>
    </div>
  </div>

  <div class="form-group">
    <label>Send from</label>
    <input type="text" name="sendfrom" placeholder="Send From" ng-disabled="!vm.publisher.enabled" ng-model="vm.publisher.publisher_sendfrom" class="form-control">
  </div>
  <div ng-messages="publisherForm.sendfrom.$error">
    <div ng-message="required">
      <nyhedsbreve-error-message message="Send from er påkrævet">
      </nyhedsbreve-error-message>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label>Brugernavn</label>
        <input type="text" name="brugernavn" placeholder="Brugernavn" ng-disabled="!vm.publisher.enabled" ng-model="vm.publisher.publisher_brugernavn" class="form-control">
      </div>
      <div ng-messages="publisherForm.brugernavn.$error">
        <div ng-message="required">
          <nyhedsbreve-error-message message="Brugernavn er påkrævet">
          </nyhedsbreve-error-message>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label>Kodeord</label>
        <input type="text" name="kodeord" placeholder="Kodeord" ng-disabled="!vm.publisher.enabled" ng-model="vm.publisher.publisher_kodeord" class="form-control">
      </div>
      <div ng-messages="publisherForm.brugernavn.$error">
        <div ng-message="required">
          <nyhedsbreve-error-message message="Brugernavn er påkrævet">
          </nyhedsbreve-error-message>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label>Lcolor</label>
        <input type="text" name="lcolor" pattern="^#[0-9a-fA-F]+$" placeholder="Lcolor" ng-disabled="!vm.publisher.enabled" ng-model="vm.publisher.publisher_lcolor" class="form-control">
      </div>
      <div ng-messages="publisherForm.lcolor.$error">
        <div ng-message="required">
          <nyhedsbreve-error-message message="Lcolor er påkrævet">
          </nyhedsbreve-error-message>
        </div>
        <div ng-message="pattern">
          <nyhedsbreve-error-message message="Lcolor skal være hexadecimalt">
          </nyhedsbreve-error-message>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group">
        <label>Bcolor</label>
        <input type="text" name="bcolor" pattern="^#[0-9a-fA-F]+$" placeholder="Bcolor" ng-disabled="!vm.publisher.enabled" ng-model="vm.publisher.publisher_bcolor" class="form-control">
      </div>
      <div ng-messages="publisherForm.bcolor.$error">
        <div ng-message="required">
          <nyhedsbreve-error-message message="Bcolor er påkrævet">
          </nyhedsbreve-error-message>
        </div>
        <div ng-message="pattern">
          <nyhedsbreve-error-message message="Bcolor skal være hexadecimalt">
          </nyhedsbreve-error-message>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label>Publisher URL</label>
    <input type="url" ng-model="vm.publisher.publisher_url" ng-disabled="!vm.publisher.enabled" class="form-control" name="publisherurl" placeholder="Publisher URL">
  </div>
  <div ng-messages="publisherForm.publisherurl.$error">
    <div ng-message="required">
      <nyhedsbreve-error-message message="Publisher URL er påkrævet">
      </nyhedsbreve-error-message>
    </div>
    <div ng-message="url">
      <nyhedsbreve-error-message message="URL'en er ugyldig">
      </nyhedsbreve-error-message>
    </div>
  </div>

  <div class="form-group">
    <label>Logo</label>
    <input type="url" ng-model="vm.publisher.publisher_toppic" ng-disabled="!vm.publisher.enabled" class="form-control" name="toppic" placeholder="Image URL">
    <img ng-src="{{vm.publisher.publisher_toppic}}" alt="" class="img-thumbnail">
  </div>

  <div ng-messages="publisherForm.toppic.$error">
    <div ng-message="required">
      <nyhedsbreve-error-message message="Billede er påkrævet">
      </nyhedsbreve-error-message>
    </div>
    <div ng-message="url">
      <nyhedsbreve-error-message message="URL'en er ugyldig">
      </nyhedsbreve-error-message>
    </div>
  </div>

</form>
